/* CSS HEX */
/* --medium-turquoise: #59dedeff;
--tart-orange: #ff4242ff;
--rosewood: #570707ff;
--teal: #338282ff;
--fluorescent-blue: #07e8e8ff; */

/* CSS HSL */
/* --medium-turquoise: hsla(180, 67%, 61%, 1);
--tart-orange: hsla(0, 100%, 63%, 1);
--rosewood: hsla(0, 85%, 18%, 1);
--teal: hsla(180, 44%, 35%, 1);
--fluorescent-blue: hsla(180, 94%, 47%, 1); */

/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

h1 {
  font-size: 2.25em;
  font-weight: 900;
}

h2 {
  font-size: 2em;
  font-weight: 800;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.5em;
  font-weight: 500;
}

h5 {
  font-size: 1.25em;
  font-weight: 400;
}

h6 {
  font-size: 1.125em;
  font-weight: 400;
}

li {
  list-style: none;
  margin-bottom: 2.5px;
}

p {
  font-size: 1em;
}

a {
  vertical-align: middle;
}

.btn {
  padding: 10px 50px;
  margin: 0.25em 0.75em;
  border-radius: 5%;
  height: 50px;
  vertical-align: middle;
  border: 1px solid #f4242f;
  font-size: 1.125em;
  text-decoration: none;
  color: #000;
  display: inline-block;
  text-align: center;
}

.btn--primary {
  background-color:#07e8e8ff;
}

.btn--primary:active {
  background-color: #f4242f;
  color: white;
  border-color: #07e8e8ff;
}

.btn--secondary {
  background-color: #59dedeff;
}

.btn--secondary:active {
  background-color: #f4242f;
  color: white;
  border-color: #59dedeff;
}

/* Header and Footer */
.navbar,
.footer {
  background-color: hsla(0, 85%, 18%, 0.5);
}
.navbar {
  padding: 10px;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav {
  display: inline-block;
}

.nav__menu li {
  display: inline;
  padding: 5px;
}

.nav__menu li a {
  text-decoration: none;
  color: #fff;
}

.nav__menu--underline:hover {
  text-decoration: underline;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* Section */
.section__title {
  margin: 0.25em 0.75em;
}

.section__title--white {
  color: #fff;
}

/* Containers */
.container {
  padding: 0 10px;
  margin: 10px auto;
}

.container__fluid {
  width: 100%;
}

.container__content {
  width: 100%;
}

.container__content--small {
  max-width: 600px;
}

.container__content--small--left-margin {
  margin-left: 0.75em;
}

.container__content--background {
  padding: 5% 0;
}

.container__content--background--rosewood {
  background-color: #570707ff;
}

.container__content--background--teal {
  background-color: #338282ff;
}

.container__content--margin {
  margin: 20px 0 0 0;
}
/* Panel */
.panel {
  display: inline-block;
  border-radius: 10px;
  margin: 0.75em;
  padding: 1%;
  min-height: 150px;
  vertical-align: middle;
  box-shadow: 10px 0px 20px 0px #888888;
  background-color: #fff;
}

.panel__title {
  margin-bottom: 10px;
}

.panel__description {
  width: 320px;
}

.panel--regular {
  font-weight: 400;
}

.panel--regular-italic {
  font-weight: 400;
  font-style: italic;
}

.panel--bold {
  font-weight: 700;
}

.panel--bold-italic {
  font-weight: 700;
  font-style: italic;
}

.panel--white-text {
  color: #fff;
}

/* Hero */
.hero {
  height: 100%;
  width: 100%;
  background-color: #338282ff;
  padding: 10% 0;
  color: #fff;
}

.hero__title,
.hero__sub-title {
  margin-left: 0.75em;
}

.hero__title {
  margin-bottom: 10px;
}

/* Colors */
.panel--medium-turquoise {
  background-color: #59dedeff;
  color: #000;
}

.panel--tart-orange {
  background-color: #ff4242ff;
}

.panel--rosewood {
  background-color: #570707ff;
}

.panel--teal {
  background-color: #338282ff;
}

.panel--florescent-blue {
  background-color: #07e8e8ff;
  color: #000;
}

/* Fonts */

.panel--noto-sans h4,
.panel--noto-sans p {
  font-family: "Noto Sans", sans-serif;
}

.panel--pt-sans h4,
.panel--pt-sans p {
  font-family: "PT Sans", sans-serif;
}
