/* CSS HEX */
/* --medium-turquoise: #59dedeff;
--tart-orange: #ff4242ff;
--rosewood: #570707ff;
--teal: #338282ff;
--fluorescent-blue: #07e8e8ff; */

/* CSS HSL */
/* --medium-turquoise: hsla(180, 67%, 61%, 1);
--tart-orange: hsla(0, 100%, 63%, 1);
--rosewood: hsla(0, 85%, 18%, 1);
--teal: hsla(180, 44%, 35%, 1);
--fluorescent-blue: hsla(180, 94%, 47%, 1); */

/* Base */

body {
  font-family: "PT Sans", sans-serif;
}
